## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

WARNING:tensorflow:From C:\Users\eholt\anaconda3\envs\dev\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN","NAME"])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [7]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [9]:
# Look at APPLICATION_TYPE value counts for binning
app_type = application_df['APPLICATION_TYPE'].value_counts()
app_type

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [11]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_type.iloc[8:].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [12]:
# Look at CLASSIFICATION value counts for binning
class_types = application_df['CLASSIFICATION'].value_counts()
class_types

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [13]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_types_1 = class_types.loc[class_types > 1]
class_types_1

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [15]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_types.iloc[5:].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [16]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies = pd.get_dummies(application_df)

In [42]:
# Split our preprocessed data into our features and target arrays
X = dummies.drop(columns='IS_SUCCESSFUL').values
y = dummies["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [43]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [48]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 6

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_8"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_24 (Dense)            (None, 8)                 352

 dense_25 (Dense)            (None, 6)                 54

 dense_26 (Dense)            (None, 1)                 7

=================================================================
Total params: 413 (1.61 KB)
Trainable params: 413 (1.61 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [49]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [50]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 1ms/step - loss: 0.6037 - accuracy: 0.6920
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5648 - accuracy: 0.7234
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5593 - accuracy: 0.7262
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5567 - accuracy: 0.7288
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5551 - accuracy: 0.7297
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5538 - accuracy: 0.7292
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5531 - accuracy: 0.7303
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5523 - accuracy: 0.7303
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5518 - accuracy: 0.7306
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5511 - accuracy: 0.7296
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5505 - accuracy: 0.7293
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5501 - accuracy: 0.7303
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5499 - accuracy: 0.7301
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5495 - accuracy: 0.7299
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5493 - accuracy: 0.7303
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5491 - accuracy: 0.7305
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5488 - accuracy: 0.7312
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5488 - accuracy: 0.7318
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5482 - accuracy: 0.7316
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5483 - accuracy: 0.7317
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5482 - accuracy: 0.7317
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5477 - accuracy: 0.7311
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5477 - accuracy: 0.7325
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5475 - accuracy: 0.7318
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5473 - accuracy: 0.7320
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5473 - accuracy: 0.7330
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5473 - accuracy: 0.7321
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5469 - accuracy: 0.7330
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5469 - accuracy: 0.7322
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5471 - accuracy: 0.7320
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5467 - accuracy: 0.7322
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5466 - accuracy: 0.7336
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5465 - accuracy: 0.7332
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5466 - accuracy: 0.7327
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5462 - accuracy: 0.7330
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5463 - accuracy: 0.7338
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5463 - accuracy: 0.7334
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5460 - accuracy: 0.7331
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5461 - accuracy: 0.7342
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5461 - accuracy: 0.7336
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5459 - accuracy: 0.7347
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5461 - accuracy: 0.7337
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5460 - accuracy: 0.7348
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5457 - accuracy: 0.7344
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5459 - accuracy: 0.7337
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5458 - accuracy: 0.7334
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5460 - accuracy: 0.7334
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5458 - accuracy: 0.7332
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5457 - accuracy: 0.7318
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5458 - accuracy: 0.7336

In [51]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5549 - accuracy: 0.7265 - 323ms/epoch - 1ms/step
Loss: 0.5549219250679016, Accuracy: 0.7265306115150452

In [38]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE